<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/site.webmanifest") %>">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/safari-pinned-tab.svg") %>" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "SASS", prefix: "BO – " %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdn.tiny.cloud/1/rh0fhr3ubhf58mf6eyvwjzdu6lg34u0y2h2adbp48pc6ysjs/tinymce/5/tinymce.min.js"></script>

  </head>
  <body style>
    <div class="flex flex-row min-h-screen bg-gray-50 text-gray-800">
      <%= if @current_user != nil do %>
        <aside class="sidebar w-64 md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-primary">
          <%= live_render @conn, AsfBOWeb.Live.SideMenu, session: %{"current_path"=> @conn.request_path, "query_string"=> @conn.query_string, "current_user" => @current_user} %>
        </aside>
      <% end %>
      <div class="flex flex-col flex-grow -ml-64 md:ml-0 transition-all duration-150 ease-in">
        <%= if @current_user != nil do %>
          <%= live_render @conn, AsfBOWeb.Live.Header, session: %{"current_path"=> @conn.request_path, "query_string"=> @conn.query_string, "current_user" => @current_user} %>
        <% end %>
        <div class="flex flex-col flex-grow p-4">
          <%= if @current_user != nil do %>
            <h1 class="font-bold text-2xl text-gray-700">
              <p><%= assigns[:page_title] %></p>
            </h1>
          <% end %>

          <div class="main-content flex flex-col flex-grow rounded mt-4">
            <%= @inner_content %>
          </div>
          <footer class="footer px-4 py-6">
            <div class="footer-content">
              <p class="text-sm text-gray-600 text-center">© SASS <%= NaiveDateTime.local_now().year %>. All rights reserved. <a href="https://twitter.com/rista_junior">by Lazar Ristic</a></p>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
