/* This file is for your main application css. */
/* @import "./phoenix.css"; */

:root {
  --color-primary: 18, 1, 143;
  --color-secondary: 143, 18, 1;
  --color-tertiary: 1, 143, 18;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
@import "./custom-styles.css";
/* @import "tailwindcss/utilities"; */

@import '~@fortawesome/fontawesome-free/css/all.css';

/* Multi select */
.top-100 {top: 100%}
.bottom-100 {bottom: 100%}
.max-h-select {
    max-height: 300px;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
}

iframe[src="/phoenix/live_reload/frame"] {
  display: none;
}

@layer base {
  ol {
    @apply list-inside;
    @apply list-decimal;
  }
  ul {
    @apply list-inside;
    @apply list-disc;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full;
  }
}